@charset "UTF-8";


html, body{
    
    padding: 0;

    font-family: Arial, Helvetica, sans-serif;
}

body{
    place-items: center;
    background-color: purple;
    
    
    
}



main{
    
    margin: auto;
    place-items: center;
    background-color: whitesmoke;
    border-radius: 15px;
    width: 350px;
    padding-bottom: 15px;
    
    
    height: 680px;

    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.589);
    

    
    
    

}

img{
    height: 300px;
    width: 350px;

    border-radius: 15px 15px 0px 0px;

}

input{
    margin: 5px;
}

p#p1{
    text-align: justify;
    background-color: whitesmoke;
    color: black;
}

p{
    background-color: purple;
    color: whitesmoke;
}



input#entrar, input#esqueci{
    padding: 15px;
    width: 300px;
    
    border-radius: 10px;
    font-size: 17px;
    

    

}

input#entrar{
    background-color: rgb(20, 207, 145);
    border-style: none;
}

input#esqueci{
    color: rgb(10, 94, 66);
    border-color: rgb(11, 117, 82);
}

input#login, input#senha{
    width: 250px;
    height: 45px;
    
    background-color: rgba(20, 185, 130, 0.582);
    border-radius: 10px;
    border-color: purple;

    
}
