@charset "UTF-8";

/* configs gerais */
@font-face {
    font-family: 'VCR';
    src: url(VCR_OSD_MONO_1.001.ttf);
}
* {
    margin: 0;
    padding: 0;

}

html, body{
    height: 100vh;
    width: 100vw;

    font-family: 'VCR', Arial, Helvetica, sans-serif;

    
    background-repeat: no-repeat;
    background-size: contain;
}


body{
    background-color: #0606F2;
}

h1{
    color: whitesmoke;

    text-shadow: 5px 3px #000000;
    text-align: center;
    padding: 30px;
}


/* modo portrait */

@media screen and (orientation: portrait) {

    
}



