@charset "UTF-8";

div.bloco{
    background-image: url(imagens/wallpaper002.jpg);
    
    

    border-color: 10px solid black;
    border-radius: 10px;
    background-repeat: no-repeat;
    
    
    
    height: 200px;
    margin: 10px;
}

#um{
    background-position: left top;
}

#dois{
    background-position: top right;
}

#tres{
    background-position: center center;
}

#quatro{
    background-position: bottom right;
}



