@charset "UTF-8";

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{

    background-image: linear-gradient(90deg, #0C080D, #241B26, #6c5072 );



}

main{
    background-color: rgb(255, 255, 255);
    border-radius: 13px;
    box-shadow: 5px 5px 15px #0C080D;

    width: 900px;
    padding: 10px;
    margin: auto;

}
h1 {
    color: #7a7067;
    text-align: center;
    text-shadow: 1px 1px 2px #0C080D;
}

h2 {
    color: #0C080D;
}

p {
    text-align: left;
}