@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}

html{
    font-family: 'Courier New', Courier, monospace;
}

body{
    margin: auto;
    background-color: #ebddc277;
}

header{
    background-color: rgb(104, 104, 104);
    display: flex;
    align-items: center;
    
}

nav{
    margin-left: 350px;
}

header a{
    padding: 15px;
    margin-left: 20px;
    text-decoration: none;
    font-size: 20px;
    color: black;
}

a:hover{
    color: darkorange;
    cursor: pointer;
}

header h1{
    font-size: 30px;
    
    padding: 10px;
    color: black;
}




main{
    display: grid;
    justify-content: center;
    text-align: center;
    margin: auto;
    padding: 35px;
    width: 800px;
    background-color: grey;
    color: black;
    
}

img{
    height: 50%;
    width: 50%;

    margin: 10px;
    border-radius: 8px;
}
h2{
    padding: 15px;
    font-size: 30px;
}


article p{
    width: 800px;
    line-height: 1.5em;
    padding: 10px;
    
}

article::after{
    content: 'Powered by: The Holy Spririt.';
}

nav{
    display: none;
}