@charset "UTF-8";

@font-face {
    font-family: 'VCR';
    src: url(../VCR_OSD_MONO_1.001.ttf) format('truetype');
}

/* Vou considerar que esse é o mobile first e depois é só fazer outro arquivo CSS com as configs gerais, qualquer coisa é só consultar o outro exercício que fiz, o MQ004 */



/* Para as outras midias */

/* Typical Device Breakpoints 

Pequenas telas: 360px
Celulares: 360px - 640px


Tablet: 641px - 1024px
Notebook: 1025px - 1440px 
Desktop: 1441px - 1920 px
Grandes telas: 1920 px - 4k

*/

@media screen and (min-width: 641px) and (max-width: 1024px) {
    /* TABLET */
    main{
        height: 100vh;
    }

    ul{
        display: flex;
    }
    
    li{
        margin-right: 15px;
        margin-bottom: 0px;
    }
    
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    /* NOTEBOOK/LAPTOP */
    main{
        height: 65vh
    }

    ul{
        display: flex;
    }
    
    li{
        margin-right: 15px;
        margin-bottom: 0px;
    }
    
    




    
}

@media screen and (min-width: 1441px) and (max-width: 1920px) {
    /* DESKTOP PC */
    main{
        width: 65vw;
        height: 68vh;
        
    }

    ul{
        display: flex;
    }
    
    li{
        margin-right: 15px;
        margin-bottom: 0px;
    }
    




}

@media screen and (min-width: 1921px) {
    /* TV/ TELAS GRANDES */
    main{
        width: 35vw;
        height: 80vh;
        
    }

    ul{
        display: flex;
    }
    
    li{
        margin-right: 15px;
        margin-bottom: 0px;
    }
    



}

@media print{
    /* IMPRESSÃO (quase esqueci) */
    body{
        font-family: 'Courier New', Courier, monospace;
        background-image: url(imagens/back-print.jpg);
        text-shadow: none;
        
    }

    main{
        border: 1px solid black;
    }

    main h1{
        font-family: 'Courier New', Courier, monospace;
        border: 1px solid black;
    }

   

}
