@charset "UTF-8";






@media screen and (min-width: 320px) and (max-width: 640px) {

    

    menu{
        
        flex-flow: column nowrap;

        text-align: center;

        
        
    }

   
    menu > h1{
        flex-basis: 30px;
        
       
        
    }
   

    nav{
        display: flex;
        
        flex-flow: column nowrap;
        align-items: center;
        text-align: center;
        
    }

    a{
        width: 90vw;
        
    }

    

    




}
