@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-color: lightgrey;
}

header{
    background-color: grey;
}

menu > h1{
    padding-left: 0px;
    padding: 10px;
    color: white;
    text-shadow: 3px 3px black;

    flex-basis: 300px;

    
    


}



menu{
    display: flex;
    /* flex-flow, justify-content e align-items ficam no container pai (acho rs) */
    
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    
    
    
    
    
}

nav{
    display: flex;

    
}



a{
    padding: 10px;
    border-radius: 10px;
    background-color: black;
    color: white;
    margin: 5px;

    

    text-decoration: none;
    

    
   
}



a:hover{
    cursor: pointer;
    background-color: white;
    color: black;

    /* Não sabia que existia isso mas é bem legal */
    transition: background-color .3s;
}

div#content{
    display: flex;
    
    align-items: center;
    justify-content: center;
}


article{
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    height: auto;
    width: 80vw;
    margin: 15px;

    box-shadow: 2px 5px black;

}

article h2{
    text-align: center;
}

article p{
    padding: 10px;
}