@charset "UTF-8";

body{
    background-image: url(imgs/espaco.jpg);
    background-position: center center;
    background-size: cover;
    
    background-repeat: no-repeat;

    background-color: rgb(39, 36, 36);
    background-attachment: fixed ;
}

div{
    background-image: url(imgs/astronauta.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center center;
    height: 500px
}